<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <form action="/new_post" method="POST">
        new post title: <input name="title">
        <input name="body">
        <button>submit!</button>
    </form>


    <h1>Hi There!</h1>
    <p>Your lucky num is {{ lucky_num }}</p>

    <h2>Posts</h2>
    
    {% for post in posts %}
       <h3>{{ post['title'] }}</h3>
       <p>{{ post['body'] }}</p>
    {% endfor %}


</body>
</html>